@import '../scss/colors.scss';
@import '../scss/font.scss';
@import '../scss/menu.scss';

#login {
    height: 140vh;
}

.login {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1vw;
    padding-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    height: 60%;

    .login__link {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        padding: 0.5vw;
        margin-top: 1vw;
        color: $preto;
        background-color: $branco;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1vw;

    }

    .login__msg {
        font-size: 12px;
        color: $laranja;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
        text-align: center;
    }
}

.login-form {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .login-form__section {
        .login-form__section__label {
            display: block;
            text-align: center;
            font-size: 12px;
            margin-bottom: 0.5vw;
            color: $branco;
        }

        .login-form__section__input {
            display: block;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1vw;
            font-size: 12px;
        }

    }

    .login-form__button {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        padding: 0.5vw;
        margin-top: 1vw;
        color: $preto;
        background-color: $laranja;
        outline: none;
        border: none;
        margin-bottom: 1vw;
    }
}

.google {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    padding: 0.5vw;
    margin-top: 1vw;
    color: $preto;
    background-color: $branco;
    outline: none;
    border: none;

    .google__img {
        display: inline-block;
        width: 7%;
        margin-right: 0.5vw;
    }
}