@import '../scss/colors.scss';
@import '../scss/font.scss';

.content {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.user-pix {
    margin-top: 10vw;

    .user-pix__title {
        font-size: 30px;
        color: $laranja;
        text-align: center;
        margin-bottom: 2vw;
    }

    .user-pix__subtitle {
        font-size: 16px;
        color: $preto;
        font-weight: 400;
        margin-bottom: 2vw;
        text-align: center;
    }

    .user-pix__img {
        display: block;
        width: 50%;
        margin-bottom: 2vw;
        margin-left: auto;
        margin-right: auto;
    }

    .user-pix__laranja {
        color: $laranja;
    }

    .user-pix__button {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        padding: 0.5vw;
        margin-top: 1vw;
        color: $preto;
        background-color: $laranja;
        outline: none;
        border: none;
        margin-bottom: 1vw;
    }
}

@media only screen and (max-width: 767px) {

    .user-pix {
        margin-top: 50vw;

        .user-pix__subtitle {
            margin-bottom: 5vw;
        }

        .user-pix__img {
            margin-bottom: 10vw;
        }
    }

}